<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collect_data.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Voice Clone - Training</title>
</head>

<body>
    <form action="{{ url_for('collect_data') }}" id="recordForm" method="POST">
        <div class="box">
            <h2>Collect Voice Data</h2>

            <div class="box2">
                {% set phonemes = [
                    "AA (as in father)",
                    "AE (as in cat)",
                    "AH (as in cup)",
                    "AO (as in caught)",
                    "AW (as in now)",
                    "AY (as in my)",
                    "B (as in bat)",
                    "CH (as in chin)",
                    "D (as in dog)",
                    "DH (as in this)",
                    "EH (as in bed)",
                    "ER (as in bird)",
                    "EY (as in they)",
                    "F (as in fun)",
                    "G (as in go)",
                    "HH (as in hat)",
                    "IH (as in bit)",
                    "IY (as in see)",
                    "JH (as in just)",
                    "K (as in cat)",
                    "L (as in leg)",
                    "M (as in man)",
                    "N (as in net)",
                    "NG (as in sing)",
                    "OW (as in go)",
                    "OY (as in boy)",
                    "P (as in pet)",
                    "R (as in red)",
                    "S (as in sun)",
                    "SH (as in she)",
                    "T (as in top)",
                    "TH (as in thin)",
                    "UH (as in book)",
                    "UW (as in food)",
                    "V (as in van)",
                    "W (as in wet)",
                    "Y (as in yes)",
                    "Z (as in zoo)",
                    "ZH (as in measure)"
                ] %}

                {% for text in phonemes %}
                <div class='mini'>
                    <div class="text_to_read"><b>Text to read:</b> <i>{{ text }}</i></div>
                    <div class="mini2">
                        <button class="fas fa-microphone" id="startBtn"></button>
                        <button class="fas fa-stop" id="stopBtn" disabled></button>
                        <audio id="audioPlayback" controls></audio>
                    </div>
                </div>
                {% endfor %}
            </div>

            <input class="user_name" type="text" name="user_name" placeholder="Enter your name" required>

            <input class="submit" type="submit" value="Train Dataset">

            <div class="already">
                Already have a model? <a href="{{ url_for('test_model') }}">Use it</a>
            </div>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/take_voice.js') }}"></script>
</body>
</html>
